
<br>

<%= form_with(model: house) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
     <p> <%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</p>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      
          <div class='row' >

              <div style='display:flex;justify-content:space-around'>
                
                    <%= f.label :categorie  %>
                    <%= f.select :category_id,Category.all.map  {|c| [c.name,c.id]},class:'form-control'  %>
                
              
                    <%= f.label :Region  %>
                    <%= f.select :location_id, Location.all.map  {|l| [l.city_name,l.id]},class:'form-control'  %>
                    
                
              </div>
                  
                  <br><br> 
                
                      <%= f.label :number_of_rooms  %>
                      <%= f.text_field :nombre_de_chambre,class:'form-control', placeholder: '0 - 9' %>
                  
                      <%= f.label :localization  %>
                      <%= f.text_field :localisation,class:'form-control', placeholder: 'e.g Antananarivo'  %>
            
                      <%= f.label :price  %>
                      <%= f.text_field :prix,class:'form-control', placeholder: '100000'  %>
                  
                      <%= f.label :images  %>
                      <%= f.file_field :images,multiple:true,class:'form-control'  %>
                </div><br>

            <div class="actions text-center" >
              <%= f.submit class:'btn btn-primary'%>
              <%= link_to 'Back', houses_path %>
            </div>
         
        </div>    
           
<% end %>
<br><br><br><br><br>
