<%= form_with(model: house) do |f| %>
  <% if house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
        <% house.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <div class='form-new-house'>
          <%# <div class=row>
          <div class=col-6> %>
          <h3 class="text-center">About the house</h3>
          <hr>  
            <div class='form-group'>
                <%= f.label :categorie  %>
                <%= f.select :category_id,Category.all.map  {|c| [c.name,c.id]},class:'form-control'  %>
            </div>
            <div class='form-group'>
                 <%= f.label :Region  %>
                <%= f.select :location_id, Location.all.map  {|l| [l.city_name,l.id]},class:'form-control'  %>
            </div>
            <div class='form-group'>
                <%= f.label :number_of_rooms  %>
                <%= f.text_field :nombre_de_chambre,class:'form-control', placeholder: '0 - 9' %>
            </div>
            <div class='form-group'>
                <%= f.label :localization  %>
                <%= f.text_field :localisation,class:'form-control', placeholder: 'e.g Antananarivo'  %>
            </div>
            <div class='form-group'>
                <%= f.label :price  %>
                <%= f.text_field :prix,class:'form-control', placeholder: '100000'  %>
            </div>
            <div class='form-group'>
                <%= f.label :images  %>
                <%= f.file_field :images, multiple:true ,class:'form-control'  %>
            </div>

            <div class="actions text-center" >
              <%= f.submit class:'btn btn-primary'%>
            </div>
            </div>
        </div>    
      </div>      
<% end %>
