
                            <% if (image === 0) %>
                                <div class="carousel-item active">
                                    <%= image_tag(@house.images[image],width:"500",height:"300") %>
                                </div>
                                <% else %>
                                <div class="carousel-item ">
                                    <%= image_tag(@house.images[image],width:"500",height:"300") %>
                                </div>

                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            <% end %>
                        <% end %> 
                    </div>
                </div> -->
                <!-- Form -->

<div class='containera'>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <%# <div class="col-12 col-md"> %>
                <%# <div class="row"> %>
                    <div class="col-md -4">
                        <div class='form-new-house-loca'>
                            <h3 class="text-center"><%= @house.category.name %></h3><br>
                                <ul>
                                    <li>Location: <%= @house.localisation %></li><br>
                                    <li>Number's of rooms: <%= @house.nombre_de_chambre %></li><br>
                                    <li>Price/night: <%= @house.prix %> Ariary</li>
                                </ul>
                            <div>
                        </div><br>
                            <%= @house.categorie%>
                            <%= link_to 'Edit', edit_house_path(@house), class:'btn btn-outline-primary' %> |
                            <%= link_to 'Back', houses_path, class:'btn btn-outline-secondary' %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class='form-new-house-loca'>
                            <h3 class="text-center pt-4">Reservations</h3>
                            <%= render @house.reservations %>
                        </div>
                        <% else %>
                        <div class="carousel-item ">
                            <%= image_tag(@house.images[image],width:"500",height:"300") %>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>

                    <% end %>
                    <% end %> 
                </div>
             </div> 
  <br>                      
  <hr> 
  <br>
                            <h3><b><%= @house.category.name %></b></h3>
                            <ul>
                                <li>Localisation: <%= @house.localisation %></li>
                                <li>Nombre de chambre: <%= @house.nombre_de_chambre %></li>
                                <li>Prix/nuit: <%= @house.prix %> $</li>
                            
                            </ul>
                             <div>
                             <%#   <%= @house.categorie
                                <%= link_to 'Edit', edit_house_path(@house)  |
                                <%= link_to 'Back', houses_path  %> 
                                   
                                <%= render 'reservations/form' %>
                            </div>   
            </div> 
         
                            <div class='col-6'>
                            <div id="map" style=' height: 100%;background:grey' ></div>
        </div>     
</div>      
<hr>
<br>
<br>



  <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
  
  <script type='text/javascript'>
        function initialize(){
            var location = {lat: <%= @house.latitude %>, lng: <%= @house.longitude %>};
            var map = new google.maps.Map(document.getElementById('map'),{
                center:location,
                zoom:14

            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</div> 


<div class="container" style='background-color:white' >
         
    <div class="row" style='padding-top:80px'>
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Booking calendar</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
    <div class="row">   
        <div  style='margin:0 auto'>
                <%= month_calendar events: @house.reservations do |date, reservations| %>  
                        
                      
                        <%= date %>  

                        <% reservations.each do |reservation| %>  
                            <div style='color:red;font-weight:bold;text-transform:uppercase' >  
                                
                                <%=  reservation.guest_name %> 
                            </div>  
                        <% end %>  

                        <% end %>
            
        </div>
    </div>     

</div>


 <div id="notifications">
</div>

                               