<%= form_with model: [ @house, @house.reservations.build ] do |f| %>
  <p class="text-left" style="color:white">
    <%= f.label :comming_date %>
    <%= f.date_field :comming_date, min: Date.today %>
  </p>

  <p class="text-left" style="color:white">
    <%= f.label :leaving_date %>
    <%= f.date_field :leaving_date, min: Date.today %>
  </p>
  <p>
    <%= f.submit class:"btn btn-primary"%>
  </p>
<% end %>