<%= form_with model: [ @house, @house.reservations.build ] do |f| %>
  <p>
    <%= f.label :start_time %><br>
    <%= f.date_field :start_time, min: Date.today %>
  </p>
  <p>
    <%= f.label :end_time %><br>
    <%= f.date_field :end_time, min: Date.today %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>