<p class="text-center" style="color:white"><strong>Guest:</strong>
    <%= reservation.guest_name %></p>

<p>
<!--<p>
    <strong>Comming-date:</strong>
    <%= reservation.start_time%>
</p>

<p>
    <strong>Leaving-date:</strong>
    <%= reservation.end_time %>
</p>
</p> -->
<p class="text-left" style="color:white"><strong>Comming-date:</strong>
    <%= reservation.start_time %></p>

<p class="text-left" style="color:white"><strong>Leaving-date:</strong>
    <%= reservation.end_time %></p>
            