<<<<<<< HEAD
<section class="s-in">
<!-- ***** Wellcome Area Start ***** -->
    <%# <section class="wellcome_area clearfix" id="home"> %>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">            
                  <div class="form-auth text-center">
                    <%= form_for(resource, as: resource_name, url: new_session_path(resource_name)) do |f| %>
                    <h2>Please Sign in</h2><br>

                      <label for="InputEmail" class="sr-only">Email address</label>
                        <%= f.email_field :email, autofocus: true, class: "form-control", id: "InputEmail", placeholder: "Email address", autocomplete: "email" %>

                      <label for="InputPassword" class="sr-only">Password</label>
                        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control", id: "InputPassword" %>

                      <% if devise_mapping.rememberable? %>
                        <div class="checkbox mb-3">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end %>

                      <div class="actions">
                        <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
                      </div>

                    <% end %>
                    <br>

                    <%= render "devise/shared/links" %>
                  </div>
                </div>
            </div>
        </div>
</section>