<hr>
<div class='container-fluid'>
        <div class='row'>
            <div class=col-12>
                <h1>Chez vous,partout</h1>
            </div>
        </div>
        <div class='row'>
            <div class= col-3>
                <%= image_tag('logement_entier.jpeg',height:'200',width:'250',style:'margin:5px;border-radius:25px') %>
                
                <p style='margin:5px 0 20px 65px'><%= link_to @category.first.name,  category_path(1) %></p>     
            </div>   
            <div class= col-3>
                <%= image_tag('logement_unique.jpeg',height:'200',width:'250',style:'margin:5px;border-radius:25px') %>
                <p style='margin:5px 0 20px 65px'><%= link_to @category.find(2).name,category_path(2) %></p> 
            </div>  
            <div class= col-3>
                <%= image_tag('jaccuzi.jpeg',height:'200',width:'250',style:'margin:5px;border-radius:25px') %>
                <p style='margin:5px 0 20px 90px'><%= link_to @category.find(3).name,category_path(3) %></p> 
            </div>  
            <div class= col-3>
                <%= image_tag('camping',height:'200',width:'250',style:'margin:5px;border-radius:25px') %>
                <p style='margin:5px 0 20px 90px'><%= link_to @category.find(4).name,category_path(4) %></p> 
            </div>   
        </div>
</div>
<hr>