<%# <div class=" background" >
     
             <h1 class='para'>Bienvenue</h1>
             <p class='para1'>Plannifier vos prochains vacances avec nous</p>
             <%= link_to "S'incrire",new_user_registration_path,class:' btn btn-outline-primary paras'  
    
</div> %>
<% if user_signed_in? %>

        <div class="navigation2">
            <ul>
                <%= link_to 'Acceuil','#',class:'list' %>
                <%= link_to 'Hébergement','#',class:'list' %>
                <%= link_to 'Expériences', '#',class:'list' %>
                <%= link_to 'deconnexion', destroy_user_session_path,class:'list' %>
            </ul>

        </div>

<% elsif current_page?(root_path) %>

        <%= render 'layouts/background' %>

        <div class="navigation">
            <ul>
                <%= link_to 'Acceuil','#',class:'list' %>
                <%= link_to 'Hébergement','#',class:'list' %>
                <%= link_to 'Expériences', '#',class:'list' %>
            </ul>

        </div>
<% else %>        
        <div class="navigation2">
            <ul>
                <%= link_to 'Acceuil','#',class:'list' %>
                <%= link_to 'Hébergement','#',class:'list' %>
                <%= link_to 'Expériences', '#',class:'list' %>
            </ul>

        </div>
<% end %>




