<!-- Preloader Start -->
<div id="preloader">
    <div class="devdap-load"></div>
</div>

<%if user_signed_in?%>
    <header class="header_area animated">      
        <div class="container-fluid">
            <div class="row align-items-center">
                
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">H.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Why H. app?</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                    <%= link_to 'Your house', houses_path, class: "nav-link" %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2" style='display:flex;justify-content:center'>

                          <div class="dropdown">
                                <a data-toggle="dropdown">   
                                    <%= image_tag(current_user.avatar,height:"50",width:"50",style:'border-radius:50%') %>    
                                </a>
                                <div class="dropdown-menu" style='margin-top:20px;margin-right:50px'>
                                        <p class="dropdown-item"><b>You are signed with:</b> <br> <%= current_user.name + ' ' + current_user.first_name  %> </p>
                                        <hr>
                                        <a class="dropdown-item" href="#">Dashboard</a>
                                        <%= link_to "Modify account", edit_user_registration_path,class:"dropdown-item" %>
                                        <%= link_to "Log out", destroy_user_session_path,class:"dropdown-item" %>
                                        <div class="dropdown-divider"></div>
                                
                                </div>
                            </div>

                </div>
            </div>
        </div>
    </header>

<% else %>
<!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/">H.</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#features">Why H. app?</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                                    <%= link_to 'Create house', new_house_path, class: "nav-link" %>
                                    <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sign-up-button d-none d-lg-block">
                        <%= link_to "Register Now", new_user_registration_path %>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- ***** Header Area End ***** -->

<% end %>
