<%# <div class=" background" >
     
             <h1 class='para'>Bienvenue</h1>
             <p class='para1'>Plannifier vos prochains vacances avec nous</p>
             <%= link_to "S'incrire",new_user_registration_path,class:' btn btn-outline-primary paras'  
    
</div> %>
<% if user_signed_in? %>

        <div class="navigation2">

            <div style="width:500px;margin:0 auto">
                <ul>
                    <%= link_to 'Acceuil','#',class:'list' %>
                    <%= link_to 'Hébergement','#',class:'list' %>
                    <%= link_to 'Expériences', '#',class:'list' %>
                </ul>   
            </div>  
             
                <%= link_to 'Deconnexion', destroy_user_session_path,class:'btn btn-warning',style:'height:50px;color:white;font-size:20px;margin:20px;border-radius:50px ' %>
               
            

        </div>

<% elsif current_page?(root_path) %>

        <%= render 'layouts/background' %>

        <div class="navigation">
            <ul >
                <%= link_to 'Acceuil','#',class:'list' %>
                <%= link_to 'Hébergement','#',class:'list' %>
                <%= link_to 'Expériences', '#',class:'list' %>
            </ul>

        </div>
<% else %>        
        <div class="navigation2">
            <ul style='width:50%;margin:10px auto'>
                <%= link_to 'Acceuil','#',class:'list' %>
                <%= link_to 'Hébergement','#',class:'list' %>
                <%= link_to 'Expériences', '#',class:'list' %>
            </ul>

        </div>
<% end %>




